In [ ]:
# MainSqlCreate
import pandas as pd
import numpy as np

#                       *** path check ***
csv_path_1 = "07_24_P_CSV/fulldata_07_24_01_P_관광식당.csv"
csv_path_2 = "07_24_P_CSV/fulldata_07_24_02_P_관광유흥음식점업.csv"
csv_path_3 = "07_24_P_CSV/fulldata_07_24_03_P_외국인전용유흥음식점업.csv"
csv_path_4 = "07_24_P_CSV/fulldata_07_24_04_P_일반음식점.csv"
csv_path_5 = "07_24_P_CSV/fulldata_07_24_05_P_휴게음식점.csv"

In [11]:
# 1~3
csv_data = pd.read_csv(csv_path_1, usecols=['영업상태구분코드', '사업장명', '소재지전체주소', '소재지우편번호', '도로명전체주소', '도로명우편번호', '소재지전화', '업태구분명', '좌표정보(x)', '좌표정보(y)'])
filtered_data = csv_data[csv_data['영업상태구분코드'] == 1].reset_index(drop=True)
filtered_data['업태구분명'] = '관광식당업'

# csv_data = pd.read_csv(csv_path_2, usecols=["영업상태구분코드", "사업장명", "소재지전체주소", "소재지우편번호", "도로명전체주소", "도로명우편번호", "소재지전화", "업태구분명", "좌표정보(x)", "좌표정보(y)"])
# filtered_data = pd.concat([filtered_data, csv_data[csv_data['영업상태구분코드'] == 1]])

# csv_data = pd.read_csv(csv_path_3, usecols=["영업상태구분코드", "사업장명", "소재지전체주소", "소재지우편번호", "도로명전체주소", "도로명우편번호", "소재지전화", "업태구분명", "좌표정보(x)", "좌표정보(y)"])
# # filtered_data = pd.concat([filtered_data, csv_data[csv_data['영업상태구분코드'] == 1]]).dropna().reset_index(drop=True)
# filtered_data = pd.concat([filtered_data, csv_data[csv_data['영업상태구분코드'] == 1]]).reset_index(drop=True)

filtered_data

,영업상태구분코드,소재지전화,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y)
0,1,054-821-1056,NaN,경상북도 안동시 상아동 513-1,경상북도 안동시 석주로 203 (상아동),36611,까치구멍집,관광식당업,357293.161389,343278.639732
1,1,NaN,340-924,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",NaN,NaN,뉴가야관광호텔,관광식당업,169769.966587,354736.022599
2,1,859-1302,482-060,경기도 양주시 덕정동 350-84번지,경기도 양주시 덕정길 4 (덕정동),11450,덕화원,관광식당업,205435.277600,482382.846279
3,1,031-853-7601,NaN,경기도 의정부시 금오동 474-5번지,"경기도 의정부시 청사로48번길 25, 2,3층 (금오동, 아웃백스테이크하우스금오점)",11757,아웃백스테이크하우스 금오점,관광식당업,206223.002863,472296.574082
4,1,031-826-5550,NaN,경기도 의정부시 호원동 50-2,"경기도 의정부시 외미로 100, 2층 205호 (호원동, 회룡타운)",11638,메이찬,관광식당업,204023.197311,469064.939711
...,...,...,...,...,...,...,...,...,...,...
313,1,02-838-5454,NaN,서울특별시 구로구 구로동 197-17 에이스테크노타워1차,"서울특별시 구로구 디지털로31길 38-9, 에이스테크노타워1차 1층 104호 (구로동)",08376,뽕사부 구로점(중국식),관광식당업,190496.447847,442645.330574
314,1,02-858-8666,NaN,서울특별시 구로구 가리봉동 89-158,"서울특별시 구로구 디지털로27길 123, 2층 (가리봉동)",08385,혜혜패스트푸드(중국식),관광식당업,189959.580578,442508.556831
315,1,055-600-0530,NaN,경상남도 창원시 성산구 대원동 122 더시티세븐풀만호텔 5층,"경상남도 창원시 성산구 원이대로 332, 더시티세븐풀만호텔 5층 (대원동)",51408,만다린그랜드머큐어,관광식당업,350576.056112,194594.154813
316,1,054-277-1753,NaN,경상북도 포항시 남구 이동 656-13,경상북도 포항시 남구 대이로143번길 22-20 (이동),37676,부천성,관광식당업,410629.617420,283403.199015
317,1,054-276-6633,NaN,경상북도 포항시 남구 상도동 609-10,경상북도 포항시 남구 중섬로 59 (상도동),37769,계림성,관광식당업,411878.369266,281697.135247

In [12]:
# 4, 5

# 필요한 열만 선택하면서 10,000행씩 나누어 읽기
data_iter = pd.read_csv(csv_path_4, usecols=['영업상태구분코드', '사업장명', '소재지전체주소', '소재지우편번호', '도로명전체주소', '도로명우편번호', '소재지전화', '업태구분명', '좌표정보(x)', '좌표정보(y)'], chunksize=10000)

# 영업상태구분코드	소재지전체주소	소재지우편번호	도로명전체주소	도로명우편번호	소재지전화		사업장명    업태구분명	좌표정보(x)	좌표정보(y)
# 01 영업

for chunk in data_iter:
    # 각 청크에서 조건에 맞는 행 필터링 (예: 열1이 특정값과 일치)
    filtered_chunk = chunk[chunk["영업상태구분코드"] == 1]
    
    # 필터링된 청크를 결과 데이터프레임에 추가
    filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)


data_iter = pd.read_csv(csv_path_5, usecols=['영업상태구분코드', '사업장명', '소재지전체주소', '소재지우편번호', '도로명전체주소', '도로명우편번호', '소재지전화', '업태구분명', '좌표정보(x)', '좌표정보(y)'], chunksize=10000)
for chunk in data_iter:
    filtered_chunk = chunk[chunk["영업상태구분코드"] == 1]
    filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)

filtered_data.drop(columns=['영업상태구분코드'], inplace=True)


filtered_data

/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)
/tmp/ipykernel_6236/1884401874.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_data = pd.concat([filtered_data, filtered_chunk], ignore_index=True)

,소재지전화,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y)
0,054-821-1056,NaN,경상북도 안동시 상아동 513-1,경상북도 안동시 석주로 203 (상아동),36611,까치구멍집,관광식당업,357293.161389,343278.639732
1,NaN,340-924,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",NaN,NaN,뉴가야관광호텔,관광식당업,169769.966587,354736.022599
2,859-1302,482-060,경기도 양주시 덕정동 350-84번지,경기도 양주시 덕정길 4 (덕정동),11450,덕화원,관광식당업,205435.2776,482382.846279
3,031-853-7601,NaN,경기도 의정부시 금오동 474-5번지,"경기도 의정부시 청사로48번길 25, 2,3층 (금오동, 아웃백스테이크하우스금오점)",11757,아웃백스테이크하우스 금오점,관광식당업,206223.002863,472296.574082
4,031-826-5550,NaN,경기도 의정부시 호원동 50-2,"경기도 의정부시 외미로 100, 2층 205호 (호원동, 회룡타운)",11638,메이찬,관광식당업,204023.197311,469064.939711
...,...,...,...,...,...,...,...,...,...
772548,062 673 8482,503-060,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,편의점,191511.220911,180531.945950837
772549,062 651 8001,503-809,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,일반조리판매,190987.643081,181915.39788146
772550,NaN,503-840,"광주광역시 남구 진월동 294-17 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC토랑,일반조리판매,190720.873936,180300.549185862
772551,NaN,503-829,광주광역시 남구 월산동 901-30 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,아틀리에pc,기타 휴게음식점,190337.038953,183555.773218571
772552,062 4345995,502-837,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,일반조리판매,188387.562754,183119.898417371

In [13]:
# 데이터 정제

print(filtered_data[filtered_data['좌표정보(x)'].isnull() & filtered_data['좌표정보(y)'].notnull()])

filtered_data.loc[367757, '사업장명'] = '블루펄호텔커피'
filtered_data.loc[367757, '업태구분명'] = '경양식'
filtered_data.loc[367757, '좌표정보(y)'] = np.nan

filtered_data.loc[498750, '사업장명'] = '길현동할머니떡볶이'
filtered_data.loc[498750, '업태구분명'] = '분식'
filtered_data.loc[498750, '좌표정보(y)'] = np.nan

print(filtered_data.loc[367757])
print(filtered_data.loc[498750])

             소재지전화  소재지우편번호                                  소재지전체주소  \
367757     5427177  135-100           서울특별시 강남구 청담동 129-3,4,6번지 지상1층
498750  02 3851638  122-200  서울특별시 은평구 진관동 22번지 (은평뉴타운 911동104호, 1층)

                                             도로명전체주소 도로명우편번호  \
367757                                           NaN     NaN
498750  서울특별시 은평구 진관3로 67 (진관동,(은평뉴타운 911동104호, 1층))  3301.0

                                   사업장명 업태구분명 좌표정보(x) 좌표정보(y)
367757   블루펄호텔커피?,2018-08-08 17:03:00"   NaN     NaN     경양식
498750  갈현동할머니떡쳄?,2012-11-05 11:20:49"   NaN     NaN      분식
소재지전화                             5427177
소재지우편번호                           135-100
소재지전체주소    서울특별시 강남구 청담동 129-3,4,6번지 지상1층
도로명전체주소                               NaN
도로명우편번호                               NaN
사업장명                              블루펄호텔커피
업태구분명                                 경양식
좌표정보(x)                               NaN
좌표정보(y)                               NaN
Name: 367757, dtype: object
소재지전화                                        02 3851638
소재지우편번호                                         122-200
소재지전체주소         서울특별시 은평구 진관동 22번지 (은평뉴타운 911동104호, 1층)
도로명전체주소    서울특별시 은평구 진관3로 67 (진관동,(은평뉴타운 911동104호, 1층))
도로명우편번호                                          3301.0
사업장명                                          길현동할머니떡볶이
업태구분명                                                분식
좌표정보(x)                                             NaN
좌표정보(y)                                             NaN
Name: 498750, dtype: object

In [14]:
filtered_data.drop(columns=['좌표정보(x)'], inplace=True)
filtered_data.drop(columns=['좌표정보(y)'], inplace=True)
filtered_data

,소재지전화,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명
0,054-821-1056,NaN,경상북도 안동시 상아동 513-1,경상북도 안동시 석주로 203 (상아동),36611,까치구멍집,관광식당업
1,NaN,340-924,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",NaN,NaN,뉴가야관광호텔,관광식당업
2,859-1302,482-060,경기도 양주시 덕정동 350-84번지,경기도 양주시 덕정길 4 (덕정동),11450,덕화원,관광식당업
3,031-853-7601,NaN,경기도 의정부시 금오동 474-5번지,"경기도 의정부시 청사로48번길 25, 2,3층 (금오동, 아웃백스테이크하우스금오점)",11757,아웃백스테이크하우스 금오점,관광식당업
4,031-826-5550,NaN,경기도 의정부시 호원동 50-2,"경기도 의정부시 외미로 100, 2층 205호 (호원동, 회룡타운)",11638,메이찬,관광식당업
...,...,...,...,...,...,...,...
772548,062 673 8482,503-060,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,편의점
772549,062 651 8001,503-809,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,일반조리판매
772550,NaN,503-840,"광주광역시 남구 진월동 294-17 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC토랑,일반조리판매
772551,NaN,503-829,광주광역시 남구 월산동 901-30 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,아틀리에pc,기타 휴게음식점
772552,062 4345995,502-837,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,일반조리판매

In [15]:
filtered_data = filtered_data.rename(columns={'소재지전화' : 'location_phone', '소재지우편번호' : 'location_zipcode', '소재지전체주소' : 'location_address', '도로명전체주소' : 'road_address', '도로명우편번호' : 'road_zipcode', '사업장명' : 'business_name', '업태구분명' : 'business_type'})

In [16]:
# sql insert
from sqlalchemy import create_engine, text, String

#                                   *** sql server check ***
engine = create_engine("mysql+pymysql://root:1234@192.168.112.1:3307/testdb")

# filtered_data.to_sql("table_name", con=engine, if_exists="append", index=False)

# 데이터프레임을 테이블에 저장 (기존 테이블이 있으면 삭제 후 새로 생성)
filtered_data.to_sql(
    "restauranttable", 
    con=engine, 
    if_exists="replace", 
    index=False, 
    dtype={
        "location_phone": String(255),
        "location_zipcode": String(255),
        "location_address": String(255),
        "road_address": String(255),
        "road_zipcode": String(255),
        "business_name": String(255),
        "business_type": String(255),
    }
)

# 테이블에 `id` 열을 추가하여 자동 증가 설정
with engine.connect() as conn:
    conn.execute(text("""
        ALTER TABLE restauranttable 
        ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY FIRST
    """))